.carousel_bg {
    background-color: #FCEAE8;
}

.button_all {
    background-color: #FF297D;
    border-radius: 10px;
    color: #FFFEFF;
    padding: 10px 26px;
    border: 0px;
}

.watch_bg {
    background-color: #FFA500;
    color: white;
}

.beg_bg {
    background-color: #DA70D6;
    color: white;
}

.shoes_bg {
    background-color: #0000FF;
    color: white;
}